.cartIconButtonContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.cartButton {
  /* background-color: #ff6b6b; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--main-text-color-light);
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--main-transition);

  :hover {
    color: var(--main-text-color);
  }
}

.cartButtonIcon {
  width: 24px;
  height: 24px;
  transition: var(--main-transition);
}
