.cartIconButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
}

.cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--main-text-color-light);
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--main-transition);
  position: relative;

  :hover {
    color: var(--main-text-color);
  }
}

.cartButtonIcon {
  width: 32px;
  height: 32px;
  transition: var(--main-transition);
}

.cartButtonCounter {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--main-text-color);
  color: #fff !important;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  transition: var(--main-transition);
}

.cartDropdown {
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 3;
  transition: var(--main-transition);
}

.cartDropdownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: var(--main-btn-clr);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
}

.cartDropdownTitle {
  font-size: 14px;
  font-weight: 700;
}

.cartDropdownCloseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.cartDropdownBody {
  padding: 10px 15px;
  min-height: calc(100% - 112px);
  overflow-y: auto;
}

.cartDropdownEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
}

.cartDropdownFooter {
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  height: 62px;
}

.cartDropdownCheckoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid var(--main-btn-clr);
  color: var(--main-btn-clr);
  outline: none;
  cursor: pointer;
  transition: var(--main-transition);
  border-radius: 5px;

  &:hover {
    background-color: var(--main-btn-clr);
    color: #fff;
  }
}

.cartDropdownTotal {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cartDropdownItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.cartDropdownItem {
  display: grid;
  grid-template-columns: 50px 1fr auto auto;
  gap: 14px;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cartDropdownItemImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.cartDropdownItemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.cartActionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  .cartActionButton {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    .cartActionButtonIcon {
      width: 24px;
      height: 24px;
      transition: var(--main-transition);

      &:hover {
        color: var(--main-btn-clr);
      }
    }
  }
}

.cartDropdownItemTitle {
  font-size: 14px;
  font-weight: 700;
}

.cartDropdownItemPrice {
  font-size: 12px;
  font-weight: 700;
  color: var(--main-text-color);
}

.cartDropdownItemQuantity {
  font-size: 12px;
  font-weight: 700;
  color: var(--main-text-color);
}

.cartDropdownItemRemoveButton {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 700;
  border: 1px solid var(--main-text-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.cartDropdownItemTotal {
  font-size: 12px;
  font-weight: 700;
  color: var(--main-text-color);
}
